@font-face {
  font-family: "UnifontExMono";
  src: url("UnifontExMono.woff2") format("woff2");
}

body {
  color: white;
  background-color: #0A0B11;
}

pre {
  font-family: "UnifontExMono";
  font-size: 18px;
  line-height: 1;
  padding-left: 40px;
  white-space: pre;
}
/* close to the gruvbox format */
w { color: white; }
re { color: #FB4934; } /* red */
gr { color: #B8BB26; } /* green */
ye { color: #FABD2F; } /* yellow */
bl { color: #83A598; } /* blue - cant use b as breaks html alignment*/
pu { color: #D3869B; } /* purple - cant use p as creates new paragraph*/
az { color: #8EC07C; text-decoration: none; } /* turquiose - use for links */
or { color: #FE8019; } /* orange */
f { color: #EBDBB2; } /* muted white */
