@font-face {
  font-family: "UnifontExMono";
  src: url("UnifontExMono.woff2") format("woff2");
}

body {
  color: white;
  background-color: #0A0B11;
}

pre {
  font-family: "UnifontExMono";
  font-size: 18px;
  line-height: 1;
  padding-left: 40px;
  white-space: pre;
}
/* close to the gruvbox format */
w { color: white; }
r { color: #FB4934; } /* red */
g { color: #B8BB26; } /* green */
y { color: #FABD2F; } /* yellow */
bl { color: #83A598; } /* blue - cant use b as breaks html alignment*/
pu { color: #D3869B; } /* purple - cant use p as creates new paragraph*/

a,
a:visited,
a:active,
a:hover,
a:focus { color: #689D6A; text-decoration: none; } /* turquiose - use for links */

o { color: #FE8019; } /* orange */
f { color: #EBDBB2; } /* muted white */
f1 { color: #78788C; } /* background grey */
