@font-face {
  font-family: "UnifontExMono";
  src: url("UnifontExMono.woff") format("woff2");
}

body {
  color: white;
  background-color: #0A0B11;
}

pre {
  font-family: "UnifontExMono";
  font-size: 18px;
  line-height: 1;
  padding-left: 40px;
  white-space: pre;
}
/* close to the gruvbox format */
w { color: white; }
r { color: #FB4934; } /* red */
g { color: #B8BB26; } /* green */
y { color: #FABD2F; } /* yellow */
b { color: #83A598; } /* blue */
k { color: #D3869B; } /* purple */
a { color: #8EC07C; text-decoration: none; } /* turquiose - use for links */
o { color: #FE8019; } /* orange */
f { color: #EBDBB2; } /* muted white */
